html,body{
    padding: 0;
    margin: 10px;
    overflow: hidden;/* no scrolling */
    image-rendering: pixelated; /* nice crispt edges */
    background-color: rgb(0, 0, 0);
}
#scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3cbce0;
}
.canvasContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    width: 50%;
    border: solid 1px rgb(168, 200, 10);
    border-radius: 10%;
    background-color: blue;
}
@media (max-width: 500px) {
    canvas{
        width: 500px;
        border: solid 1px rgb(168, 200, 10);
        border-radius: 10%;
        background-color: blue;
    }
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputTeamCount{
    border: 2px solid #3cbce0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    background-color: rgb(13, 6, 0);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 5px;
    width: 50px;
    text-align: center;
}
.refresh-btn{
    border: 2px solid #3cbce0;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    background-color: rgb(13, 6, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 2rem;
}
.refresh-btn:hover{
    border: 2px solid #3cbce0;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(253, 2, 2, 1);
    background-color: rgb(178, 5, 5);
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-size: 2rem;
}
